GEMINI_API_KEY=xxxxxxxxxxxxxxxxxx

# Auto Instrumentation Config
export OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=true

# OpenTelemetry Configuration
export OTEL_SERVICE_NAME="agent-with-auto-instrumentation"
export OTEL_TRACES_EXPORTER="otlp"
export OTEL_METRICS_EXPORTER="otlp"
export OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4417" # update to point to your collector/backend!
export OTEL_EXPORTER_OTLP_PROTOCOL="grpc"